<h1 class="page-header">This is the main page</h1>
<br>
<br>
<br>
<div class="btn-center">
    <div class="btn-row btn-row-home">
        <a class="btn btn-primary" style="background-color:hsl(125, 100%, 83%);" href="/clients">Clients page</a>
        <a class="btn btn-primary" style="background-color:hsl(35, 100%, 66%);" href="/items">Items page</a>
    </div>
    <br>
    <div class="btn-row btn-row-home">
        <a class="btn btn-primary" style="background-color:hsl(346, 59%, 47%);" href="/clients/login">Login page</a>
        <a class="btn btn-primary" style="background-color:hsla(161, 100%, 83%, 0.667);" href="/clients/register">Register page</a>
    </div>
</div>