<h1  class="page-header">Add item</h1>
<form action="/items" method="POST">
    <div class="form-item">
        <label>Name</label>
        <input type="text" name="name">
    </div>
    <div class="form-item">
        <label>Price</label>
        <input type="number" step="any" name="price" min="0">
    </div>
    <div class="form-item">
        <label>Quantity</label>
        <input type="number" min="1" name="quantity">
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Add item</button>
    <a class="btn btn-danger" href="/items">Cancel</a>
</form>